<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro servico</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body th:object="${unidade}">
    <a th:href="@{/listar-unidade/{id}/listar-servicos (id=${unidade.id})}"><span>Listagem de unidades</span></a><br />
    <form th:action="@{/cadastrar-unidade/{id}/cadastrar-servicos (id=${unidade.id})}" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nome</label><br>
            <input type="text" name="nome" class="form-form-control form-control-lg"><br>


            <label for="exampleFormControlInput1">Gênero</label><br>

            <div th:object="${listageneros}">
                <form:checkboxes items="${listageneros}" path="genero" />
            </div>

            <!--<div class="form-check">
                <input path="genero" value="Mulher" class="form-check-input" type="radio" name="flexRadioDefault"
                    id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Homem
                </label>
            </div>
            <div class="form-check">
                <input path="genero" value="Mulher" class="form-check-input" type="radio" name="flexRadioDefault"
                    id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Mulher
                </label>
            </div>
            <div class="form-check">
                <input path="genero" value="Ambos" class="form-check-input" type="radio" name="flexRadioDefault"
                    id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Ambos
                </label>
            </div>-->

            <label for="exampleFormControlInput1">Preço</label><br>
            <input type="text" name="preco" class="form-form-control form-control-lg"><br>
            <input type="submit" /><br>
        </div>
    </form>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>