<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Editar Serviços</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body>

    <div th:object="${unidade}">
        <a th:href="@{/index}"><span>Index</span></a><br />
        <a th:href="@{/listar-unidade/{id}/listar-servicos (id=${unidade.id})}"><span>Listagem de
                serviços</span></a><br />


        <form action="#" th:action="@{/editar-unidade/{id}/editar-servico (id=${unidade.id})}" th:object="${servico}"
            method="post">
            <label>ID</label><br>
            <input type="text" id="id" th:field="*{id}" readonly><br>
            <label>Nome</label><br>
            <input type="text" id="cep" th:field="*{nome}"><br>
            <label>Genêro</label><br>
            <input type="text" id="cep" th:field="*{genero}"><br>
            <label>Preço</label><br>
            <input type="text" id="cep" th:field="*{preco}"><br>
            <input type="submit" value="Atualizar servico" /><br>
        </form>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>