<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Unidades</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body>
    <!--<a th:href="@{/index}"><span>Index</span></a><br />
    <a th:href="@{/cadastrar-unidade}"><span>Cadastro de unidades</span></a><br />-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/index}">Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cadastrar-unidade}">Cadastro de unidades</a>
                </li>
            </ul>
        </div>
    </nav>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CEP</th>
                <th scope="col">Produtos</th>
                <th scope="col">Serviços</th>
                <th scope="col">Editar</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>

        <div th:each="unidade:${unidades}">
            <tbody>
                <tr>
                    <th scope="row" th:text="${unidade.id}"></th>
                    <td th:text="${unidade.nome}"></td>
                    <td th:text="${unidade.cep}"></td>
                    <td><a th:href="@{/listar-unidade/{id}/listar-produtos (id=${unidade.id})}">Lista produtos</a></td>
                    <td><a th:href="@{/listar-unidade/{id}/listar-servicos (id=${unidade.id})}">Lista serviços</a></td>
                    <td><a th:href="@{/editar-unidade/{id}(id=${unidade.id})}">Editar</a></td>
                    <td><a th:href="@{/deletar-unidade/{id}(id=${unidade.id})}">Deletar</a></td>
                </tr>
            </tbody>
        </div>
    </table>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>