<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Unidades</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body>
    <a th:href="@{/listar-unidade}"><span>Listagem de unidades</span></a><br />

    <form th:action="@{/cadastrar-unidade}" th:object="${unidade}" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">ID</label><br>
            <input type="text" name="cep" class="form-form-control form-control-lg" th:text="${unidade.id}"><br>
            <label for="exampleFormControlInput1">CEP</label><br>
            <input type="text" name="cep" class="form-form-control form-control-lg" th:text="${unidade.cep}"><br>
            <!--<a th:href="@{/listar-unidadeServicos}"><span>Editar Servicos</span></a><br />
            <a th:href="@{/listar-unidadeProdutos}"><span>Editar Produtos</span></a><br />-->
            <input type="submit" value="Update user" /><br>
        </div>
    </form>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>