<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Unidades</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body>
    <a th:href="@{/cadastrar-unidade}"><span>Cadastro de unidades</span></a><br />

    <li class="list-group-item">
        <span>ID</span>
        <span>CEP</span>
        <a>Edit</a>
        <span>Delete</span>
    </li>
    <ul class="list-group" th:each="unidade:${unidades}">
        <li class="list-group-item">
            <span th:text="${unidade.id}"></span>
            <span th:text="${unidade.cep}"></span>
            <a th:href="@{/editar-unidade/{id}(id=${unidade.id})}">Edit</a>
            <span>Delete</span>
        </li>
    </ul>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>