<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Produtos</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body th:object="${unidade}">
    <!--<div th:object=" ${unidade}">-->
    <h1>Visualizando lista de produtos</h1>
    <h2>Unidade ID [( ${id} )]</h2>
    <!--</div>-->

    <a th:href="@{/cadastrar-unidade/{id}/cadastrar-produtos (id=${unidade.id})}"><span>Cadastro de
            Produtos</span></a><br />

    <!--<li class="list-group-item">
        <span>ID</span>
        <span>Nome</span>
        <span>Marca</span>
        <span>Preço</span>
        <a>Edit</a>
        <span>Delete</span>
    </li>
    <ul class="list-group" th:each="produto:${produtos}">
        <li class="list-group-item">
            <span th:text="${produto.id}"></span>
            <span th:text="${produto.nome}"></span>
            <span th:text="${produto.marca}"></span>
            <span th:text="${produto.preco}"></span>
        </li>
    </ul>-->

    <table class="table" th:each="produto:${produtos}">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Marca</th>
                <th scope="col">Preço</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" th:text="${produto.id}"></th>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.marca}"></td>
                <td th:text="${produto.preco}"></td>
            </tr>
        </tbody>
    </table>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>