<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Unidades</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body>
    <a th:href="@{/cadastrar-unidade}"><span>Cadastro de unidades</span></a><br />

    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">CEP</th>
            <th scope="col">Produtos</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    <table class="table" th:each="unidade:${unidades}">
        <tbody>
            <tr>
                <th scope="row" th:text="${unidade.id}"></th>
                <td th:text="${unidade.cep}"></td>
                <td><a th:href="@{/listar-unidade/{id}/listar-produtos (id=${unidade.id})}">View products</a></td>
                <td><a th:href="@{/editar-unidade/{id}(id=${unidade.id})}">Edit</a></td>
                <td><a th:href="@{/deletar-unidade/{id}(id=${unidade.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>