<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista Unidades</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body>
    <a th:href="@{/cadastrar-unidade}"><span>Cadastro de unidades</span></a><br />
    <div th:each="unidade:${unidades}">
        <p>
            <span th:text="${unidade.id}"></span>
            <span th:text="${unidade.cep}"></span>
        </p>
        <br />
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>