<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro Produto</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body th:object="${unidade}">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/index}">Index</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/listar-unidade/{id}/listar-produtos (id=${unidade.id})}">Listagem de
                        Produtos</a>
                </li>
            </ul>
        </div>
    </nav>

    <form th:action="@{/cadastrar-unidade/{id}/cadastrar-produtos (id=${unidade.id})}" method="post">

        <div class="input-group mb-3">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-6">

                        <label for="basic-url">Nome</label><br>
                        <input type="text" name="nome" class="form-control" aria-label="Vini"
                            aria-describedby="basic-addon1"><br>

                        <label for="basic-url">Marca</label><br>
                        <input type="text" name="marca" class="form-control" aria-label="Vini"
                            aria-describedby="basic-addon1"><br>

                        <label for="basic-url">Preço</label><br>
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span><input type="text" name="preco" class="form-control"
                                aria-label="Vini" aria-describedby="basic-addon1">
                        </div>

                        <br>
                        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Cadastrar
                            Produto</button>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </form>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>