<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro Produto</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme-min.css}" rel="stylesheet" />
</head>

<body th:object="${unidade}">
    <a th:href="@{/index}"><span>Index</span></a><br />
    <a th:href="@{/listar-unidade/{id}/listar-produtos (id=${unidade.id})}"><span>Listagem de unidades</span></a><br />

    <form th:action="@{/cadastrar-unidade/{id}/cadastrar-produtos (id=${unidade.id})}" method="post">
        <div class="input-group flex-nowrap">
            <div class="form-group">
                <label for="exampleFormControlInput1">Nome</label><br>
                <div class="input-group mb-3">
                    <input name="nome" type="text" class="form-control">
                </div>
                <label for="exampleFormControlInput1">Marca</label><br>
                <div class="input-group mb-3">
                    <input name="marca" type="text" class="form-control">
                </div>
                <label for="exampleFormControlInput1">Preço</label><br>
                <div class="input-group mb-3">
                    <span class="input-group-text">R$</span>
                    <input name="preco" type="text" class="form-control">
                </div>
                <button class="btn btn-outline-secondary" type="submit">Cadastrar produto</button>
            </div>
        </div>
    </form>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>